body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #444;
    color: #fff;
    padding: 1rem 0.5rem;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

#back-button {
    padding: 0.5rem 1rem;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    display: none;
}

#back-button:hover {
    background-color: #0056b3;
}

nav input {
    width: 90%;
    padding: 0.5rem;
    margin: 1rem auto;
    display: block;
    border-radius: 5px;
    border: 1px solid #ccc;
}

main {
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 1rem;
}

.anime-card {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    text-align: center;
    padding: 0.5rem;
}

.anime-card img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
}

.anime-card h3 {
    margin: 0.5rem 0;
    font-size: 1rem;
}

.anime-card button {
    padding: 0.5rem;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0.5rem;
}

.anime-card button:hover {
    background-color: #0056b3;
}

.anime-details,
#episode-list {
    max-width: 600px;
    margin: 2rem auto;
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin: 0.5rem 0;
    padding: 0.5rem;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
}